h1 {
    font-size: 40px;
    font-style:normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    text-align: center;
    font-weight: lighter;
  }

.title {
  text-align: center;
  background-position: center;
  border: 1px solid black;
  width: 130px; 
  margin-top:-0.25%;
  margin-right:-0.25%;
}

.border {
  border:1px solid black;
  background-color: lightgrey;
}

#title1{
    background-color:rgb(168, 191, 221);
}
#title2{
    background-color:rgb(221, 221, 186);
}
#title3{
    background-color:rgb(141, 194, 191);  
}

* {
  box-sizing: border-box; 
  
}
   
.section-title {
  text-align: -webkit-right;
}

.padding-text {
  padding-left:2.5%;
  padding-right:2.5%;
}

/********** Desktop devices  **********/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }

    .ml-lg-1 {
      margin-left: 8.33%;
    }
    
    .ml-lg-middle {
      margin-left: 4.165%
    }

    .height-lg-md {
      height: 300px;  
    }
  }
  
  /********** Tablet devices **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }

    .ml-md-1 {
      margin-left: 8.33%;
    }

    .ml-md-05 {
      margin-left: 4.165%;
    }

    .mr-md-05 {
      margin-right: 4.165%;
    }

    .mr-md-1 {
      margin-right: 8.33%;
    }

    .mt-md-5 {
      margin-top:5%;
    }

    .height-lg-md {
      height: 300px;  
    }
  }

  /********** Phone devices **********/
  @media (max-width: 767px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 74.99%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }

    .ml-sm-1 {
      margin-left: 8.33%;
    }

    .ml-sm-05 {
      margin-left: 4.165%;
    }

    .mr-sm-05 {
      margin-right: 4.165%;
    }

    .mr-sm-1 {
      margin-right: 8.33%;
    }

    .mt-sm-5 {
      margin-top:5%;
    }

    .mb-sm-5 {
      margin-bottom:5%;
    }

    .height-sm {
      min-height: 200px;
      overflow: hidden;
    }
  }