h1 {
    font-size: 40px;
    font-style:normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    text-align: center;
    font-weight: lighter;
  }

.title {
  text-align: center;
  background-position: center;
  border: 1px solid black;
  width: 130px; 
  margin-top:-0.25%;
  margin-right:-0.25%;
}

.border {
  border:1px solid black;
  background-color: lightgrey;
}

#title1{
    background-color:rgb(168, 191, 221);
}
#title2{
    background-color:rgb(221, 221, 186);
}
#title3{
    background-color:rgb(141, 194, 191);  
}

* {
  box-sizing: border-box; 
  
}
   
.section-title {
  text-align: -webkit-right;
}

.padding-text {
  padding-left:2.5%;
  padding-right:2.5%;
}

/********** Desktop devices  **********/
@media (min-width: 992px) {
    .col-lg-3 {
      float: left;
      width: 25%;
    }

    .ml-lg-1 {
      margin-left: 8.33%;
    }
    
    .ml-lg-middle {
      margin-left: 4.165%
    }
  }
  
  /********** Tablet devices **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-5, .col-md-11 {
      float: left;
    }

    .col-md-5 {
      width: 41.66%;
    }

    .col-md-11 {
      width: 91.66%;
    }

    .ml-md-05 {
      margin-left: 4.165%;
    }

    .mr-md-05 {
      margin-right: 4.165%;
    }

    .mt-md-5 {
      margin-top:5%;
    }
  }

  /********** Phone devices **********/
  @media (max-width: 767px) {
    .col-sm-10 {
      float: left;
      width: 83.33%;
    }

    .ml-sm-1 {
      margin-left: 8.33%;
    }

    .mt-sm-5 {
      margin-top:5%;
    }

    .mb-sm-5 {
      margin-bottom:5%;
    }

    .height-sm {
      min-height: 200px;
      overflow: hidden;
    }
}